@charset "utf-8";

body {
    margin: 0;
}

.header {
    background-color: #FFBE98;
    border-bottom: 2px solid #ffffff;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.list {
    background: url("/images/icon.png") no-repeat left top;
    width: 30px;
    height: 30px;
    display: block;
}

.logo {
    background: no-repeat center center;
    width: 150px; 
    height: 50px; 
    display: block;
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
}

.header-menu {
    display: flex;
}

.account {
    background: url("/images/account.png") no-repeat right top;
    width: 50px;
    height: 50px;
    display: block;
}
.cart {
    background: url("/images/cart.png") no-repeat right top;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    display: block;
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

.adcard {
    display: flex;
}

.adcard div {
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}

.adcard video {
    width: 100%; 
    height: auto; 
}

.explain {
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    text-align: center; 
    display: block; 
    margin: 50px auto; 
}

.store_ex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #FFBE98; 
    margin-bottom: 40px;
}

.store_ex img {
    max-width: 50%; 
    border-radius: 10px; 
}

.store_ex .text {
    max-width: 60%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFBE98;
    text-align: center; 
}

.text-ing {
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.pop-ups {
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.pop-up-card {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 10px; 
    border-radius: 10px;
}
