@charset "utf-8";

body {
    margin: 0;
}

.header {
    background-color: #FFBE98;
    border-bottom: 2px solid #ffffff;
}

.outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
}

.list {
    background: url("/images/icon.png") no-repeat left top;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    left: 20px;
    top: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -310px; 
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    transition: left 0.3s ease; 
    border: 2px solid #000000;
    z-index: 1;
}

.show-sidebar {
    left: 0; 
}

.close-button {
    background: url("/images/close.png") no-repeat right top;
    width: 40px;
    height: 40px;
    display: none; 
    cursor: pointer;
    padding: 10px;
    position: fixed;
    left: 230px;
    top: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.show-close-button {
    display: block; 
}

ul {
    top: 10px;
}

li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu-item {
    display: block;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    padding: 10;
    list-style: none;
}

.logo {
    background: no-repeat center center;
    width: 150px; 
    height: 50px; 
    display: block;
    font-size: 45px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Lobster', sans-serif;
    margin: 0 auto; 
}

.header-menu {
    display: flex;
}

.account {
    background: url("/images/account.png") no-repeat right top;
    width: 50px;
    height: 50px;
    display: block;
}
.cart {
    background: url("/images/cart.png") no-repeat right top;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    display: block;
    display: flex;
    align-items: center;
    padding: 0 10px; 
}

.adcard {
    display: flex;
}

.adcard div {
    width: 100%; 
    box-sizing: border-box; 
    border: 1px solid #ccc; 
}

.adcard video {
    width: 100%; 
    height: auto; 
}

.explain {
    font-family: 'Lobster', sans-serif;
    font-size: 30px;
    text-align: center; 
    display: block; 
    margin: 50px auto; 
}

.store_ex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid #FFBE98; 
    margin-bottom: 40px;
}

.store_ex img {
    max-width: 50%; 
    border-radius: 10px; 
}

.store_ex .text {
    max-width: 60%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: #FFBE98;
    text-align: center; 
}

.text-ing {
    font-size: 20px;
    margin-left: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.pop-ups {
    margin: 50px auto; 
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.pop-up-card {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 10px; 
    border-radius: 10px;
}

.card-containers {
    display: grid;
    grid-gap: 12px;
    margin: 50px;
}

.popup-card {
    position: relative;
    max-width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 12px;
    border: 1px solid #000000;
}

@media screen and (min-width: 900px) {
    .card-containers {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 300px;
    }
}

@media screen and (max-width: 899px) {
    .card-containers {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-columns: 300px;
    }
}

.ppp {
    position: relative;
    background-position: center;
    aspect-ratio: auto 3 / 2;
}

.popup_img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 12px; 
}

.sign-card {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: start;
}

.sign-popup {
    padding: 0px 10px;
    background: #c6f5d1;
    border-radius: 12px 0px;
}

.btn-like {
    position: absolute;
    top: 0;
    right: 1.5em;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-left: auto;
    margin-top: 10px;
    line-height: 2em;
    padding: 0;
    background: none;
    border: none; 
}

.card-surface {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.card-inner {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.txt_wrap {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.txt_card_title {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txt_card_location {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    color: #161616;
    margin-top: 4px;
    margin-left: 10px;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-line {
    border: none;
    border-bottom: 1px solid #F3F5F8;
    margin: 8px 0;
}

.txt_event {
    font-size: 12px;
    font-weight: bold;
    color: #161616;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.term {
    font-size: 16px;
    color: #DE2E5F;
    font-weight: bold;
    margin-left: 6px;
}

.login-title, .join-title {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif
}

.form-field {
    margin-bottom: 30px;
    position: relative;
}

.id {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 97%;
    height: auto;
}

.primary-button {
    position: relative;
    margin-top: 20px;
    margin-bottom: 0 !important;
    font-size: 13px;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    width: 100%;
}

.password {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 97%;
    height: auto;
}

.name {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 97%;
    height: auto;
}

.login {
    background-color: transparent;
    border: none;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 97%;
    height: auto;
}

.join {
    background-color: transparent;
    border: none;
    border: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 97%;
    height: auto;
    margin-top: 30px;
}

.phone {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    color: #000000;
    font-family: 'Object Sans','Noto Sans KR',sans-serif;
    font-size: 15px;
    outline: none;
    padding: 15px 0;
    width: 30%;
    height: auto;
}